.btn-social {
    text-transform: none !important;
}

.language-label-block {
    display: block;
}

.language-label-inline {
    display: inline-block;
    margin-right: 1em;
}

    .language-label img {
        width: 1.3em;
        height: 1.3em;
        position: relative;
        margin-right: 0.5em;
    }

    .language-label span {
        padding-top: 0.5em;
    }

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;    
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-color: #ddd;
}
.panel-body {
    padding: 15px;
}