<ul class="nav">
    <li class="nav-item">
        <a class="label language-label language-label-inline nav-link active" href="#">
            <img src="~/images/flags/european-union.svg" />
            <span>All Languages</span>
        </a>
    </li>
    <li class="nav-item">
        <label class="label language-label language-label-inline nav-link">
            <img src="~/images/flags/united-states-of-america.svg" />
            <a href="#">English</a>
        </label>
    </li>
    <li class="nav-item">
        <label class="label language-label language-label-inline nav-link">
            <img src="~/images/flags/mexico.svg" />
            <a href="#">Spanish</a>
        </label>
    </li>
    <li class="nav-item">
        <label class="label language-label language-label-inline nav-link">
            <img src="~/images/flags/russia.svg" />
            <a href="#">Russian</a>
        </label>
    </li>
</ul>
<h3>English</h3>
<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h2 class="text-left" style="display: inline;">John W</h2>
                <p>
                    <span class="pull-left">United States</span>
                    <span class="pull-right">31 <i class="fa fa-mars" style="color: dodgerblue"></i></span>
                </p>
                <div class="clearfix"></div>
            </div>
            <hr />
            <p class="card-text">
                <label class="label language-label language-label-inline">
                    <img src="~/images/flags/united-states-of-america.svg" />
                    <span>English (Fluent)</span>
                </label>
                <label class="label language-label language-label-inline">
                    <img src="~/images/flags/mexico.svg" />
                    <span>Spanish (Intermediate)</span>
                </label>
            <p class="text-muted">John W does not have a bio.</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">Invite to Chat</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h2 class="text-left" style="display: inline;">Bill S</h2>
                <p>
                    <span class="pull-left">United States</span>
                    <span class="pull-right">52 <i class="fa fa-mars" style="color: dodgerblue"></i></span>
                </p>
                <div class="clearfix"></div>
            </div>
            <hr />
            <p class="card-text">
                <label class="label language-label language-label-inline">
                    <img src="~/images/flags/united-states-of-america.svg" />
                    <span>English (Fluent)</span>
                </label>
                <label class="label language-label language-label-inline">
                    <img src="~/images/flags/russia.svg" />
                    <span>Russian (Fluent)</span>
                </label>
                <label class="label language-label language-label-inline">
                    <img src="~/images/flags/germany.svg" />
                    <span>German (Beginner)</span>
                </label>
            <p class="text-muted">Bill S does not have a bio.</p>

        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">Invite to Chat</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h2 class="text-left" style="display: inline;">Maria K</h2>
                <p>
                    <span class="pull-left">Mexico</span>
                    <span class="pull-right">35 <i class="fa fa-venus" style="color: deeppink"></i></span>
                </p>
                <div class="clearfix"></div>
            </div>
            <hr />
            <p class="card-text">
                <label class="label language-label language-label-inline">
                    <img src="~/images/flags/mexico.svg" />
                    <span>Spanish (Fluent)</span>
                </label>
                <label class="label language-label language-label-inline">
                    <img src="~/images/flags/united-states-of-america.svg" />
                    <span>English (Advanced)</span>
                </label>
            <p class="text-muted">Maria K does not have a bio.</p>

        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">Invite to Chat</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h2 class="text-left" style="display: inline;">Maria K</h2>
                <p>
                    <span class="pull-left">Mexico</span>
                    <span class="pull-right">35 <i class="fa fa-venus" style="color: deeppink"></i></span>
                </p>
                <div class="clearfix"></div>
            </div>
            <hr />
            <p class="card-text">
                <label class="label language-label language-label-inline">
                    <img src="~/images/flags/mexico.svg" />
                    <span>Spanish (Fluent)</span>
                </label>
                <label class="label language-label language-label-inline">
                    <img src="~/images/flags/united-states-of-america.svg" />
                    <span>English (Advanced)</span>
                </label>
            <p class="text-muted">Maria K does not have a bio.</p>

        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">Invite to Chat</a>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            const connection = new signalR.HubConnectionBuilder()
                .withUrl("/langHub")
                .configureLogging(signalR.LogLevel.Information)
                .build();
            connection.start().catch(err => console.error(err.toString()));
        });
    </script>
}